{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead text-center">
                    {{ .Site.Params.clients.subtitle }}
                </p>
                <div class="text-center">
                    <p>{{ .Site.Params.clients.description | markdownify }}</p>
                    {{ if .Site.Params.clients.link_url }}
                    <br>
                    <!-- btn-template-main -->
                    <a href="{{ .Site.Params.clients.link_url | relLangURL }}" class="btn btn-template-primary btn-lg">{{ i18n "moreAboutUs" }}</a>
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
